/* Забезпечуємо, що кожен слайд займає 100% ширини і висоти фрейма */
.slide {
    flex: 0 0 100%;
    /* Кожен слайд займає 100% ширини батьківського контейнера */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    transition: transform 0.5s ease-out;
    /* Плавний перехід для свайпу */
}

/* Ефект для картки з текстом */
.card-content {
    padding: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-width: 90vw;
    /* Максимальна ширина відносно в'юпорту */
    animation: fadeIn 1s ease-out;
}

/* Анімація появи контенту */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}