body {
    font-family: "Merriweather", serif;
    background-color: #F8F8F8;
    height: 100vh;
    touch-action: manipulation;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: 400;
    font-style: normal;
}

.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
}

.app-inner-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#mobile-frame {
    width: 100%;
    max-width: 400px;
    height: 100vh;
    max-height: 800px;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}

/* СЛАЙДЕР */
#slider {
    width: 500%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    height: 100%;
    flex-shrink: 0;
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    box-sizing: border-box;
    padding: 20px;
}

.slide-card {
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 90%;
    margin-bottom: 20px;
    padding: 20px;
    animation: fadeIn 1s ease-out;
}

/* slide1 */
#slide-1 {
    background-color: #FBC02D;
}

.slide-card--sun {
    background-color: #FFF9C4;
}

.slide-title--sun {
    font-size: 60px;
    margin-bottom: 20px;
    color: #d97706;
}

.slide-text {
    font-size: 18px;
    font-weight: 500;
    color: #92400e;

}

.slide-hint {
    color: #FFF9C4;
    font-size: 20px;
}

/* slide2 */
#slide-2 {
    background-color: #0277BD;
    justify-content: flex-start;
    padding-top: 50px;
}

.slide-card--mood {
    background-color: #B3E5FC;
}

.mood-selector-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin: 20px auto;
    background-color: #B3E5FC;
    padding: 15px 10px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.tip-display {
    margin: 10px auto;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    min-height: 60px;
    border-radius: 12px;
    background-color: #B3E5FC;
    font-size: 19px;
    font-weight: 500;
    color: #083b58;
    line-height: 1.6;
    text-align: left;
}


.mood-option {
    text-align: center;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 8px;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
    flex: 1;
    max-width: 100px;
}

.mood-option:hover {
    background-color: #F3F4F6;
    transform: scale(1.05);
}

.emoji {
    font-size: 40px;
    display: block;
    line-height: 1;
}

.mood-label {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #4B5563;
}

.mood-option.active {
    background-color: #E0F2FE;
    box-shadow: 0 0 0 3px #B3E5FC;
}


.slide-title--mood {
    font-size: 32px;
    font-weight: 800;
    color: #0e4768;
}

.slide-text-mood {
    font-size: 18px;
    font-weight: 500;
    color: #0a344b;
}

/* slide3 */
#slide-3 {
    background-color: #2E7D32;
}

.slide-card--colors {
    background-color: #A5D6A7;
}


.slide-title--colors {
    font-size: 32px;
    font-weight: 800;
    color: #193d1b;
}

.slide-text--colors {
    font-size: 18px;
    font-weight: 500;
    color: #0d1b0d;
}

/* Сітка кольорових квадратів */
.color-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 25px;
    width: 100%;
}

/* Стилі для самих квадратів */
.color-square {
    padding-bottom: 100%;
    height: 0;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.color-square:hover {
    transform: scale(1.08);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* Кольори */
.color-red {
    background-color: #E74C3C;
}

.color-blue {
    background-color: #3498DB;
}

.color-yellow {
    background-color: #F1C40F;
}

.color-green {
    background-color: #2ECC71;
}

.color-purple {
    background-color: #9B59B6;
}

.color-orange {
    background-color: #E67E22;
}

.modal-image {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
}

/* slide4 */
#slide-4 {
    background-color: #9f75b1;
    justify-content: center;
    padding-top: 20px;
    position: relative;
}

.slide-card--meditation {
    background-color: #E5E7EB;
}

.slide-title--meditation {
    font-size: 32px;
    font-weight: 800;
    color: #333940;
    overflow-wrap: break-word;
}

.meditation-options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 25px;
    width: 100%;
}

.meditation-option {
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
    background-color: #efefef;
    border: 1px solid #99F6E4;
}

.meditation-option:hover {
    transform: translateY(-3px);
    background-color: #CCFBF1;
}

.meditation-icon {
    font-size: 40px;
    display: block;
    margin-bottom: 5px;
    line-height: 1;
}

.meditation-option p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #04120e;
}

.slide-title--meditationp {
    font-size: 18px;
    font-weight: 500;
    color: #202327;
}


.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.modal-content {
    background: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 17%;
    max-width: 400px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);

}


.modal-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.4em;
    color: #333;
}

.modal-content p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    font-weight: 400;
}

#mediaModal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-contentmedia {
    background: white;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
    width: 92%;
    max-width: 900px;
    position: relative;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);

}

.modal-contentmedia video {
    width: 100%;
    height: auto;
    max-height: 75vh;
    border-radius: 12px;
    background: #000;
}

.modal-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.modal-icon {
    font-size: 2em;
    line-height: 1;
}

.color-example-tag {
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
    color: #555;
}

.modal-image-red {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .modal-contentmedia {
        padding: 24px;
    }
}

/* Анімація появи */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* slide5 */
#slide-5 {
    background-color: #d57023;
    justify-content: center;
    padding-top: 20px;
}

.slide-card5 {
    background-color: #FEF3C7;
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 90%;
    margin-bottom: 20px;
    padding: 20px;
}

.slide-title--journal {
    font-size: 30px;
    font-weight: 800;
    color: #763808;
    overflow-wrap: break-word;
}

.sendtg-btn {
    background-color: #B45309;
    color: white;
    border: none;
    border-radius: 0.375rem;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sendtg-btn:hover {
    background-color: #4338CA;
}

.feedback-form {
    margin-left: auto;
    padding: 20px;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 8px;
    text-align: center;
}

#feedback-sent {
    color: #FF6D00;
    transition: opacity 0.3s ease;
}

#feedback-sent.hidden {
    display: none;
    opacity: 0;
}

.tgsulka {
    color: #FF6D00;
}


.description_tg {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #381c06;
}

.textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}


/* ПАГІНАЦІЯ */
.pagination-dots {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 1000;
    pointer-events: none;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5;
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: auto;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.dot.active {
    opacity: 1;
    transform: scale(1.2);
    background-color: #ffffff;
}

.dot.active {
    background-color: #3B82F6;
    transform: scale(1.2);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
    line-height: 1;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.close-btn:hover,
.close-btn:focus {
    transform: scale(1.15);
    outline: none;
}



/* slide7 - Ігровий слайд */
#slide-7 {
    background-color: #2c9cb1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.game-wrapper {
    width: 90%;
    height: 90%;
    max-width: 350px;
    max-height: 550px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: #FFFFFF;
}

#dreamCanvas {
    display: block;
    background-color: #d0eee0;
}